@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face{
    font-family: "AzoSans-Regular";
    src: url("../assets/fonts/AzoSans-Regular.ttf") format("truetype");
}

.upper-main-content p:first-child {
    font-family: "AzoSans-Regular";
}

.upper-second-p {
    color: #18052f;
}

.btn {
    background: #684ed5;
    color: #ffffff;
    transition: all 0.08s ease-in-out !important;
    line-height: 1.6;

}

.foot-second-p {
    color: #4c1eb8;
}

.input {
    border-color: #e4e5e6;
    transition: padding 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: #240d40;
}


.upper-main-content {
    color: #18052f;
}